.ActivityChart {
    background-color: #FBFBFB;
    border-radius: 10px;
}


.recharts-legend-item {
    font-size: 0.7rem;
}

.custom-tooltip {
    color: white;
    font-size: .4rem;
    height: 3.5rem;
    width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}