.Energy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 100%;
}

.Energy img {
    width: 3.3rem;
    height: 3.3rem;
}

.nutriment {
    background-color: #FBFBFB;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 0rem;
    padding: 1rem 51px 1rem 32px;
    width: 100%;
}

.energyInfos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
}

.energyInfos h2 {

    font-size: 20px;
}

.energyInfos p {
    font-size: 14px;
    color: #74798C
}