.Intensity {
    width: 30%;
    height: 250px;
}

.Radar {
    background-color: #282D30;
    color: white;
    border-radius: 10px;
}

.Radar .recharts-text {
    font-size: 0.7rem;
}

.angleAxis {
    display: none;
}

.recharts-polar-angle-axis-tick-value {
    font-size: .7rem;
    padding: 3rem;
}